.wrapper {
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #fff;
  position: relative;
}

section {
  height: 100vh;
  font-size: 40px;
  font-weight: 100;
  background-color: #22A7F0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  background: white;
}
section:nth-child(2) {
  background: #F9690E;
}
section:nth-child(3) {
  background: #636360;
}
section:nth-child(4) {
  background: #F9690E;
}
section:nth-child(5) {
  background: #636360;
}
section:nth-child(6) {
  background: #F9690E;
}
section:nth-child(7) {
  background: #636360;
}

.nav__wrapper {
  position: fixed;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
.nav {
  margin: 0 0 100px 30px;
}
.nav__counter {
  font-size: 24px;
  transition: all 0.15s ease-out;
}
.nav__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav__body {
  font-weight: 100;
  font-size: 18px;
  font-size: 18px;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav li {
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
.nav li:after {
  content: "";
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}
.nav li a {
  display: block;
  padding: 0;
  color: #fff;
  transition: all 0.15s ease-out;
}
.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}
.nav li a:focus {
  background-color: transparent;
}
.nav li.active {
  pointer-events: none;
  padding-left: 1em;
}
.nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}
.nav li.active .nav__counter {
  font-size: 48px;
}
.nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
.nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}

.title_box {
    width: 600px;
    text-align: right;
    margin-left : 50vw;

}
.search__container {
        padding-top: 64px;
    }

.search__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: white;
        background-color: transparent;
         background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid white;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color: white;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid white;
            border-radius: 0;
            background-position: 100% center;
        }

.credits__container {
        margin-top: 24px;
    }

.credits__text {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
    }

.credits__link {
        color: #ff8b88;
        text-decoration: none;
        transition: color 250ms ease-in;
    }

.credits__link:hover,
        .credits__link:focus {
            color: rgb(191, 137, 135);
        }

#map{ 
    position: absolute; 
    align-content: center;
    margin-left:600px;
    margin-top: 400px;
    width: 40%;
    height: 40vh;
}

.row {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.column {
  flex: 50%;
  padding: 10px;
}

.learn-more{
    position: relative;
    align-content: center;
    font-weight: 600;
    margin-top: 20%;
    font-size: 16px;
    margin-left: 75%;
    background: white;
    border-width: 3px;
    border-color: #F9690E;
    color: #F9690E;
    width: 250px;
}

.information{
    position: inherit;
    align-content: center;

}